# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node-related directories
node_modules
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Other junk files
*.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude sqlite databases
*.sqlite

# Exclude dist from frontend
dist

# Potentially secret data
.env
.env.keys
db.json

image.tar