@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

/** BASE LAYER **/
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    @apply appearance-none;
  }
}

/** UTILITY LAYER **/
@layer utilities {
  .border-r-dashed {
    border-style: solid dashed solid solid !important;
  }
  .input.invalid-input {
    @apply text-red-900 border-red-500 font-bold bg-red-800! ring-red-800 ring-3 border-2 accent-amber-700;
  }
}

/** COMPONENT LAYER **/
@layer components {
  /**
   * Form element styles
   */
  .input,
  select {
    @apply px-2 py-0.5 bg-gray-600/30 border border-gray-800/70 rounded;
    @apply focus:outline-2 focus:outline-blue-300 focus:ring-0 focus:bg-gray-700/70;
  }

  .input {
    @apply py-[3px];
  }

  select option {
    @apply text-sm rounded-lg bg-zinc-700 border-gray-700 placeholder-gray-400;
  }
  label {
    @apply font-bold;
  }

  /** 
   * Base table styles
   */
  th,
  td {
    @apply px-3 py-2 border-gray-800/80 border-r-1 last:border-r-0;
  }
  tbody :not(.category-row) th,
  tbody :not(.category-row) td {
    @apply h-12;
  }

  tr.category-row {
    @apply text-[0.7em] uppercase font-semibold text-left bg-gray-800/50!;
  }
  tr.category-row td {
    @apply px-2 py-0.5 space-x-2 border-x-1 border-gray-100/10;
  }

  /** 
   * Table header styles
   */
  thead th {
    @apply py-1 font-bold text-left text-white;
  }
  thead {
    @apply text-xs text-center bg-gray-700;
  }
  thead th {
    @apply text-center first:rounded-tl-lg last:rounded-tr-lg border-b-1;
  }

  /**
   * Table body styles
   */
  tbody tr {
    @apply border-y-1 border-gray-500/50 bg-zinc-500/70 [&:nth-child(4n-1)]:bg-zinc-700/70 [&:nth-child(4n)]:bg-zinc-700/70 last:border-b-0;
  }
  tbody tr:hover,
  tbody tr:hover {
    @apply bg-violet-500/20!;
  }
  tbody tr.income th,
  tbody tr.income td {
    @apply bg-lime-400/7;
  }

  /**
   * Table footer styles
   */
  tfoot {
    @apply h-2 bg-gray-600;
  }
  tfoot tr td {
    @apply h-2 border-t-1;
  }
  tfoot td {
    @apply last:rounded-br-lg first:rounded-bl-lg;
  }

  /**
   * Button styles
   */
  .button-sm,
  .button {
    @apply select-none px-4 shrink-1 grow-0 py-0.5 text-base font-bold text-white rounded cursor-pointer text-shadow-2xs leading-normal;
    @apply bg-linear-to-t to-gray-400/80 from-gray-700/80;
    @apply hover:to-gray-400/80 hover:from-gray-800/80 hover:no-underline;
    @apply active:to-gray-500 active:from-gray-600;
  }
  .button-sm {
    @apply text-sm;
  }
  .button-primary {
    @apply bg-linear-to-t to-sky-500 via-blue-500 from-indigo-500;
    @apply hover:to-sky-600/80 hover:via-blue-600 hover:from-indigo-600/80;
    @apply active:to-sky-600/70 active:via-blue-700 active:from-indigo-600/70;
  }

  /**
   * Skeleton styles
   */
  .skeleton {
    @apply h-3 mt-2.5 mb-2 bg-gray-400/40 rounded-md animate-pulse block;
  }

  /**
   * Category indicator styles
   */
  .category-indicator {
    @apply w-1 rounded-full border-0 self-center shrink-0 h-5;
  }

  .needs .category-indicator {
    @apply bg-amber-400;
  }
  .future .category-indicator {
    @apply bg-green-400;
  }
  .wants .category-indicator {
    @apply bg-red-400;
  }

  .budget-item-config {
    @apply flex items-baseline px-2 py-1 space-x-2 text-xs;
  }

  .frequency-badge {
    @apply text-[0.8em] bg-blue-600/70 text-white px-2 rounded-full py-0.5 text-shadow-sm shadow-sm/20;
  }
  .unscheduled-badge {
    @apply bg-amber-600 rounded-full size-1.5;
  }
}
